<body>
    <app-navbar-home></app-navbar-home>
    <div class="caja text-center">
        
        <h1 class="text-light text-uppercase">PAGAR POR TRASNFERENCIA</h1>
        <hr>
        <div class="input-group" id="codigoDescuento">
            <span class="input-group-text">
                CLAVE
            </span>
            <span class="form-control">4535 5848 9685 0988</span>
        </div>
        
        <div id="clave" class="input-group">
            <span class="input-group-text">
                Banco
            </span>  
            <span class="form-control">OXXO - BBVA - SANTANDER</span>
        </div>

        <div class="input-group" id="codigoDescuento">
            <!-- <span class="input-group-text">
                Total a pagar
            </span> -->
            <span class="form-control s">Tienes 42 horas para pagar, una vez facturado el pago resiviras tu tickt via gmail.</span>
        </div>

        <button type="submit" class="btn btn-outline-primary">RESERVAR</button>
    </div>
</body>
