<body class="text-white">
    <app-navbar></app-navbar>
        <div class="card bg-dark text-white bg-opacity-75" style="width: 75%; margin-left: 12%; margin-bottom: 50px; margin-top: 5%;">
        <h1 class="h1 text-center">terminos y condiciones.</h1>
        <hr>
        <div class="card-body">
            <p class="display-6 text-center">
                Contrato de hospedaje.
            </p>
            <p class="lead">
                El cliente acepta los términos y condiciones del contrato de hospedaje a partir de la fecha solicitada para adquirir una habitación, 
                el objetivo es ofrecer albergue o alojamiento con fines turísticos en el cual ambas partes declaran contar con plena facultad legal 
                para obligarse a celebrar dicho contrato celebrado por una parte entre HOTELES CTMS a cuya empresa de aquí en adelante se le denominara 
                hotelero y por la otra, el cliente a quien de aquí en adelante se le denominara huésped.
                <br>
                El huésped realizará un pago antes de usar la habitación donde dependiendo de la información de su ticket será el total de dinero a pagar 
                en pesos mexicanos, así mismo, el huésped no podrá superar el límite de alojamiento según el tipo de habitación (sencilla: 2 personas, doble: 
                4 personas, triple: 6 personas), el cual no habría distinción entre adultos, niños o bebes, siempre y cuando se respeten los límites de la 
                habitación.
            </p>     
            <figure>
                <blockquote class="blockquote">
                    <p>Dicho contrato solo tendrá valides en la fecha de inicio y la fecha de finalización según la reservación del cliente.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Exige tu ticket <cite title="Source Title">para cualquier reclamo de lo anterior.</cite>
                </figcaption>
            </figure>

            <figure class="text-end">
                <blockquote class="blockquote">
                    <p>Los datos del huésped quedarán guardados en la base de datos de HOTELES CTMS.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    En caso de no estar registrado en el hotel, <cite title="Source Title">este deberá crear un usuario</cite>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="card bg-dark text-white bg-opacity-75" style="width: 18rem; margin-left: 2%;">
        <img src="/favicon.ico" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Fulana Martinez</h5>
            <p class="card-text">Licenciada en Derecho</p>
            <a href="" class="btn btn-outline-info">Visita mi Curriculum</a>
        </div>
    </div>
</body>