<body class="text-white">
    <app-navbar></app-navbar>

    <div class="card text-white" style="width: 75%; margin-left: 12%; margin-bottom: 50px; margin-top: 5%;">
        <h1 class="h1 text-center">Conocenos.</h1>
        <hr>
        <div class="card-body">
            <p class="display-6">
                Nosotros somos Hoteles CTMS una empresa dedicada a la experiencia de nuestros consumidores en materia turística  
                con el proposito de regalar momentos de calidad para todo tipo de personas que visitan nuestros hoteles.
            </p>
            <p class="lead">
                Actualmente nos encontramos en un crecimiento importante, puesto que despues del COVID-19 han ido incrementando periodicamente las visitas turisticas
                y con ello el incremento de la demanda hotelera, sin embargo buscamos siempre ser la mejor opcion cuando los usuarios seleccionen este tipo de servicios.
            </p>        
            <figure>
                <blockquote class="blockquote">
                    <p>Dirección:</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Enrique Segoviano <cite title="Source Title">170</cite>, Guadalajara, Jalisco, México.
                </figcaption>
            </figure>

            <figure class="text-end">
                <blockquote class="blockquote">
                    <p>Contactanos.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Telefono: <cite title="Source Title">334407</cite>
                </figcaption>
                <figcaption class="blockquote-footer">
                    FaceBook: <cite title="Source Title">Hoteles CTMS</cite>
                </figcaption>
                <figcaption class="blockquote-footer">
                    Instagram: <cite title="Source Title">@hoteles.ctms</cite>
                </figcaption>
                <figcaption class="blockquote-footer">
                    Correo <cite title="Source Title">hoteles_ctms.informativo@gmail.com</cite>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="card bg-dark text-white bg-opacity-75" style="width: 18rem; margin-left: 2%;">
        <img src="/favicon.ico" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Fulanita Mendoza</h5>
            <p class="card-text">Resumen de su experiencia</p>
            <a href="about" class="btn btn-outline-info">Visita mi Curriculum</a>
        </div>
    </div>
</body>