<body>
    <app-navbar-home></app-navbar-home>
    <div class="caja text-center">
        
        <h1 class="text-light text-uppercase">PAGAR POR DEBITO</h1>
        <hr>
        <div class="input-group" id="codigoDescuento">
            <span class="input-group-text">
                banco
            </span>
            <input type="text" class="form-control" name="claveFacturador" id="claveFacturador" placeholder="BBVA" required>
        </div>
        
        <div class="input-group" id="codigoDescuento">
            <span class="input-group-text">
                clave
            </span>
            <input type="text" class="form-control" name="claveFacturador" id="claveFacturador" placeholder="XXXX XXXX XXXX XXXX" required>
        </div>

        <div class="input-group" id="codigoDescuento">
            <span class="input-group-text">
                validacion
            </span>
            <input type="month"  class="form-control" name="claveFacturador" id="claveFacturador" placeholder="XXXX XXXX XXXX XXXX" required>
        </div>

        <button type="submit" class="btn btn-outline-primary">RESERVAR</button>
    </div>
</body>
