<body>
    <app-navbar-home></app-navbar-home>
    <div class="caja text-center">
        
        <h1 class="text-light text-uppercase">PAGAR POR EFECTIVO</h1>
        <hr>
        <div class="input-group" id="codigoDescuento">
            <span class="input-group-text">
                Descuento
            </span>
            <span class="form-control">25%</span>
        </div>
        
        <div id="clave" class="input-group">
            <span class="input-group-text">
                Clave Reservador
            </span>  
            <input type="password" class="form-control" name="claveFacturador" id="claveFacturador" placeholder="•••••••••••" required>
        </div>

        <div class="input-group" id="codigoDescuento">
            <span class="input-group-text">
                Total a pagar
            </span>
            <span class="form-control">$2,500 - DOS MIL QUINIENTOS</span>
        </div>

        <button type="submit" class="btn btn-outline-primary">RESERVAR</button>
    </div>
</body>
