body{
    --opacidad-negro: 0.6;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('/assets/hotel.jpg');
    background-size: 100% 145%;
    background-position: center top;
    background-repeat: no-repeat;
    filter: grayscale(75%);
}

@media screen and (max-width: 800px) {
    body{
        background-size: 100% 110%;  
    }       
}

#divChart{
    display: block;
    width: 900px;
    height: 550px;
    filter: none;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #061e2685;
}