<body>
    <app-navbar-home></app-navbar-home>
    <div class="caja text-center">
        
        <h1 class="text-light text-uppercase">Facturar</h1>
        <hr>
        <div class="input-group">   
            <span class="input-group-text first">
                Usuario
            </span>   
            <select class="form-select" id="habitacion" aria-label="Default select example">
                <option selected>Folio</option>
                <option value="1">#2344 - status: pagado </option>
            </select>
        </div>
        <div class="input-group">   
            <span class="input-group-text first">
                Codigo de Facturador
            </span>  
            <input type="password" class="form-control" name="descuento" id="descuento" placeholder="XXXX-XXXX-XXXX-XXXX">
        </div>
            
        <button type="submit" class="btn btn-outline-primary">FACTURAR</button>
        <!-- GENERAR TICKET - ENVIAR POR GMAIL -->
    </div>
</body>

