<body class="text-white">
    <app-navbar></app-navbar>
    <div class="card bg-dark text-white bg-opacity-75" style="width: 50%;">
        <h1 class="h1 text-center">recordar contraseña</h1>
        <hr>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <input type="email" class="form-control text-center" id="inputMail" placeholder="@Usuario">
                </div>
            </div>
            
            <button type="submit" class="btn btn-outline-info">Enviar Contraseña</button>
            <div class="aviso">
                <p>
                    La contraseña sara enviada al correo del usuario, 
                    para mayor información revisar los terminos y condiciones
                    de Hoteles CTMS.
                </p>
            </div>
        </div>
    </div>
    <app-about-remember></app-about-remember>
</body>
